<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge" />

    <title>Camunda Cockpit</title>

    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />

    <meta name="description"
          content="Camunda Cockpit" />
    <meta name="author"
          content="camunda services GmbH" />

    <!-- settings the base path for relative links -->
    <base href="$BASE"
          admin-api="$APP_ROOT/api/admin/"
          cockpit-api="$APP_ROOT/api/cockpit/"
          engine-api="$APP_ROOT/api/engine/"
          app-root="$APP_ROOT" />

    <!-- an example of plugin/feature exclusion -->
    <!--
    <base href="$BASE"
          cockpit-api="$APP_ROOT/api/cockpit/"
          engine-api="$APP_ROOT/api/engine/"
          app-root="$APP_ROOT"
          cam-exclude-plugins="cockpit.dashboard:process-definition-tiles" />
    -->


    <!-- styles -->
    <link href="$APP_ROOT/app/cockpit/styles/styles.css?bust=7.20.0"
          rel="stylesheet" />
    <link href="$APP_ROOT/app/cockpit/styles/styles-components.css?bust=7.20.0"
          rel="stylesheet" />
    <link rel="stylesheet"
          type="text/css"
          href="$APP_ROOT/app/cockpit/styles/user-styles.css?bust=7.20.0">

    <!-- favicon -->
    <link rel="shortcut icon"
          href="$APP_ROOT/app/cockpit/assets/images/favicon.ico"
          type="image/x-icon" />
  </head>
  <body>
    <!-- navigation -->
    <div cam-widget-header
         authentication="authentication"
         user-name="userFullName"
         current-app="cockpit"
         ng-cloak
         sign-out="{{ 'SIGN_OUT_ACTION' | translate }}"
         my-profile="{{ 'MY_PROFILE' | translate }}"
         brand-name="Camunda Cockpit">
      <ul cam-if-logged-in
          ng-controller="camHeaderViewsCtrl">
        <li ng-repeat="actionProvider in menuActions"
            ng-if="actionProvider.pagePath && actionProvider.accessible"
            ng-class="activeClass(actionProvider)">
          <a ng-href="{{ actionProvider.pagePath }}">{{ actionProvider.label | translate}}</a>
        </li>

        <li class="dropdown"
            ng-if="dropdownActions.length"
            uib-dropdown>
          <a class="dropdown-toggle"
             uib-dropdown-toggle
             href>{{ 'COCKPIT_MORE' | translate}} <i class="caret"></i></a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-repeat="actionProvider in dropdownActions"
                ng-if="actionProvider.pagePath && actionProvider.accessible"
                ng-class="activeClass(actionProvider)">
              <a ng-href="{{ actionProvider.pagePath }}">{{ actionProvider.label | translate}}</a>
            </li>
          </ul>
        </li>
        <li><a class="cam-widget-header" href="/cws-ui">CWS</a></li>
      </ul>
    </div>

    <!-- content -->
    <div class="ctn-main">
      <div class="ctn-wrapper">
        <div ng-if="showBreadcrumbs"
             ng-cloak
             cam-breadcrumbs-panel
             divider="&raquo;"
             class="breadcrumbs-panel"></div>

        <div notifications-panel
             class="page-notifications"></div>

        <!-- view body provided by ngView -->
        <div ng-view>
          <div class="app-splash"><div>
            <div class="spinner spinner-big"></div>
          </div></div><!-- / .app-splash -->
        </div>
      </div>
    </div>

    <!-- footer -->
    <footer cam-widget-footer
            version="v7.20.0"></footer>

    <script type="application/javascript" $CSP_NONCE>
      var cockpitConf = window.camCockpitConf = {};

      window.PLUGIN_DEPENDENCIES = $PLUGIN_DEPENDENCIES || [];
      window.PLUGIN_PACKAGES = $PLUGIN_PACKAGES || [];

      window.require = {
        waitSeconds: 0
      };
    </script>

    <script type="application/javascript"
            src="$APP_ROOT/lib/require.js" $CSP_NONCE></script>
    <script type="text/javascript" $CSP_NONCE>

window.__define = window.define;
window.__require = window.require;
window.define = undefined;
window.require = undefined;
window.bust = '7.20.0';

requirejs.config({
  baseUrl: '$APP_ROOT/app/cockpit',
  urlArgs: 'bust=7.20.0'
});
requirejs(['$APP_ROOT/lib/deps.js'], function () {
  requirejs(['$APP_ROOT/app/cockpit/camunda-cockpit-bootstrap.js'], function(){});
});
    </script>
  </body>
</html>
