.idea/

cws-*-libs/

dist/

auto_conf*.dat

cws-service/src/main/resources/bpmn/*.bpmn

cws-service/src/main/resources/camunda/bpmn/*.bpmn

*.iml

.keystore
cws_truststore.jks

cookies.txt
creds.txt

cws-test/newCWSDir

.DS_Store
install/logging/logstash-*.zip

*personal_dev.sh

# CWS backups
.backups/

# JaCoCo Reports
/target
/jacoco-reports
/test-screenshots