version: '3.2'

services:
#  logstash:
#    labels:
#      com.example.service: "logstash"
#      com.example.description: "For logging data"
#    image: docker.elastic.co/logstash/logstash:7.16.2
#    container_name: cws-worker-logstash
#    volumes:
#      - logs-volume:/cws_logs:ro
#      - ./cws-logstash.conf:/home/cws_user/cws-logstash.conf:ro
#    command: logstash -f /home/cws_user/cws-logstash.conf
#    environment:
#      - XPACK_MONITORING_ENABLED=false
#    healthcheck:
#        test: ["CMD-SHELL", "curl --silent --fail localhost:9600 || exit 1"]
#        interval: 5s
#        timeout: 2s
#        retries: 12
#    ports:
#      - "9600:9600"
#    networks:
#      - frontend
#      - backend
  cws:
    container_name: cws-worker2
    labels:
      com.example.service: "cws-worker2"
      com.example.description: "Common Workflow Service"
    image: nasa-ammos/common-workflow-service:2.4.0pre.1    # update this each CWS release
    #depends_on:
    #  - logstash
    hostname: cws-worker2
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PW=test
      - ES_PROTOCOL=http
      - ES_HOST=es
      - ES_PORT=9200
    volumes:
      - ./config.properties:/home/cws_user/config.properties:ro
      - logs-volume:/home/cws_user/cws/server/apache-tomcat-9.0.36/logs

volumes:
  logs-volume:

networks:
  default:
    external:
      name: cws-network
