<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>cwstest</username>
      <password>AP6z3zyW8s3QHx23s3Yf776UGnL</password>
      <id>central</id>
    </server>
    <server>
      <username>cwstest</username>
      <password>AP6z3zyW8s3QHx23s3Yf776UGnL</password>
      <id>snapshots</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>maven-libs-release-virtual</name>
          <url>https://cae-artifactory.jpl.nasa.gov/artifactory/maven-libs-release-virtual</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>maven-libs-snapshot-virtual</name>
          <url>https://cae-artifactory.jpl.nasa.gov/artifactory/maven-libs-snapshot-virtual</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>plugins-release</name>
          <url>https://cae-artifactory.jpl.nasa.gov/artifactory/plugins-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>plugins-snapshot</name>
          <url>https://cae-artifactory.jpl.nasa.gov/artifactory/plugins-snapshot</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
