version: '3.2'

services:
  elasticsearch:
    labels:
      com.example.service: "es"
      com.example.description: "For searching and indexing data"
    image: elasticsearch:7.16.2
    #image: arm64v8/elasticsearch:7.16.2    # Use this image for Mac M1/M2 arm64
    container_name: cws-es-only
    networks:
      - es-net
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - MAX_MAP_COUNT=262144
      - discovery.type=single-node
      - cluster.name=docker-cluster
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    healthcheck:
        test: ["CMD-SHELL", "curl --silent --fail localhost:9200/_cluster/health || exit 1"]
        interval: 5s
        timeout: 2s
        retries: 12
    #ulimits:
      #memlock:
        #soft: -1
        #hard: -1
      #nofile:
        #soft: 65536
        #hard: 65536
    #mem_limit: 2g
#  kibana:
#    labels:
#      com.example.service: "kibana"
#      com.example.description: "Data visualisation and for log aggregation"
#    image: kibana:7.16.2
#    container_name: cws-kibana
#    ports:
#      - "5601:5601"
#    networks:
#      - es-net
#    environment:
#      - ELASTICSEARCH_HOSTS=http://cws-es:9200
#    depends_on:
#      - elasticsearch

networks:
  es-net:
    driver: bridge
